.projects_title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.projects_box_container {
    display: flex;
    justify-content: center;
    align-items: center;min-width: 280px;
}
@media (max-width: 768px) {
    .projects_box_container{
        flex-wrap: wrap;
    }
    }