.homepage_container {
    display: flex;flex-wrap: wrap;
    align-items: center;
    height: 90vh;  padding: 0 9%;

}

.homepage_left {
    flex: 1;
    padding-right: 20px;}

.homepage_left_description li {
    margin-top: 6px;font-size: 18px;
}

.homepage_left_description span {
    color: yellow;
}

.homepage_left_description p {
    line-height: 23px;
    font-size: 18px;
}

#highlight {
    color: red;
    font-size: 25px;
}

#gitImg {
    margin-right: 15px;
}

.homepage_right {
    flex: 0.3;margin-left: 20px;
}

.red_color {
    color: red;
}


.homepage_left_h2 {
    font-size: 64px;
    font-weight: 700;
    margin: -0px 0;
}

.homepage_left_h3 {
    font-size: 28px;
}

.homepage_left_button {
    margin-top: 25px;
    font-size: 20px;
    padding: 8px 10px;
    background-color: black;
    color: red;
}
