.TechStack_cont{
    height: 80vh;flex-wrap: wrap;min-width: 280px;
}
.Techstack_title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;    

}
.Techstack_img_row_cont{
    display: flex;   
    margin:5% 0;
}
@media (max-width: 768px) {
.Techstack_img_row_cont{
    margin-bottom: 0px;
}
}
