.group-child {
    margin-bottom: 0;
    background-color:rgb(24, 23, 23);
    width: 100%;
    text-align: center;    height: 180px;
  }
  .group-child1,
  .group-child2,
  .group-child3,
  .group-child4 {
    padding: 10px;
    left: 28%;
    border-radius:20px;
    width: 66px;
    height: 51px;
    margin-right: 10px;margin-top: 25px;
  }
  .group-child1,
  .group-child2,
  .group-child3 {
    left: 52%;
  }
  .group-child2,
  .group-child3 {
    left: 36%;
  }
  .group-child3 {
    left: 44%;
  }
  
  .design-by-seema {
    font-size: 29px;
    width: 402px;
    height: 40px; margin: auto;color: whitesmoke;
  }
  
  